/* public/styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f9fc;
}

header {
  text-align: center;
  background-color: #007bff;
  color: white;
  padding: 20px 0;
  margin-bottom: 20px;
}

#project-name-container {
  margin-top: 10px;
}

#project-name-container label {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

#projectName-input {
  padding: 5px;
  font-size: 14px;
  width: 300px;
}

h1 {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 90%;
}

.side-by-side {
  flex: 1;
  min-width: 45%;
}

section {
  margin-bottom: 20px;
}

input[type="file"],
textarea,
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

#drop-area,
#previous-drop-area {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  margin-top: 10px;
}

#drop-area.dragover,
#previous-drop-area.dragover {
  background-color: #f1f1f1;
}

.spinnerContainer {
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.loading-spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #007bff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}
